body {
  font-family: Helvetica, Arial;
  margin: 0;
  background: #e6e9ea;
}

ul {
  margin: 0;
  padding: 0;
}


.App {
  width: 1024px;
  background: white;
  margin: 10px auto;
  min-height: 400px;
}

.App-header {
  background-color: red;
  height: 60px;
  color: white;
}

.App-menu {
  background-color: #ffd8d8;
  height: 40px;
  width: 100%;
}

.App-menu > ul > li {
  display: inline-block;
  line-height: 40px;
  padding: 0 12px;
  font-weight: bold;
}

.App-menu a {
  text-decoration: none;
  color: black;
}

.App-menu li:hover {
  background: #f9e0e0;
}

.newsbox {
  border: 1px solid lightgray;
  padding-left: 3px;
  margin-bottom: 8px;
}

.newsbox em {
  font-size: small;
}

.newsbox > h3 {
  margin: 0;
  background: lightgray;
  margin-left: -3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.pages {
  text-align: center;
}

.pages a {
  text-decoration: none;
  color: gray;
  font-style: italic;
}

.news-container {
  flex: 2.5;
  padding: 5px;
}

.drivers-container {
  flex: 1;
  padding: 5px;
}

.fx-container {
  display: flex;
  margin: auto;
  width: 900px;
}

table {
  width:100%;
}

thead {
  background: red;
  color: white;
}

tr:nth-of-type(even) {
  border: 1px solid gray;
  background: #e6e9ea;
}


#root h1 {
  margin: 0;
  line-height: 60px;
}

.admin-panel-left {
  width: 160px;
  float: left;
}

.admin-panel-left ul > li {
  list-style: none;
}

.admin-panel-right {
  margin-left: 200px;
}

.admin-table * {
  border: 1px solid green;
}

label {
  vertical-align: top;
  margin-bottom: 5px;
  /*display: block;*/
}

.points-row {
  text-align: center;
}

.drivers-table {
  border: 1px solid red;
}

.races-table {
  width: 60%;
  margin: 30px auto;
  border: 1px solid #ff5b4c;
}

.races-table thead {
  background: #ff5b4c;
}

.races-table td {
  border: 1px solid #ff5b4c;
}

.races-box {
  padding-bottom: 50px;
}

.modal-box {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  /*background-color: rgb(0,0,0);*/
  background: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  width: 420px;
  background-color: #fefefe;
}

.modal-body {
  padding-bottom: 20px;
}

.modal-footer {
  height: 45px;
  line-height: 45px;
  background-color: #ff5b4c;
  color: white;
}

