body {
  font-family: Helvetica, Arial;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.App-header {
  background-color: red;
  height: 60px;
  /*padding: 20px;*/
  color: white;
}

.App-menu {
  background-color: #ffd8d8;
  height: 40px;
  width: 100%;
}

.App-menu > ul > li {
  display: inline-block;
  line-height: 40px;
  /*border: 1px solid black;*/
  /*padding: 4px;*/
  padding: 0 12px;
  font-weight: bold;
}

.newsbox {
  border: 1px solid black;
  padding-left: 3px;
  border-radius: 4px;
}

.pages {
  text-align: center;
}

.pages a {
  text-decoration: none;
}

.news-container {
  flex: 2.5;
  padding: 5px;
}

.drivers-container {
  flex: 1;
}

.fx-container {
  border: 1px dashed red;
  display: flex;
  margin: auto;
  width: 900px;
}

table {
  width:100%;
  border: 1px solid green;
}

td, th {
  border: 1px solid gray;
}

#root h1 {
  margin: 0;
  line-height: 60px;
}

